@charset "UTF-8";

:root {
	--base-text-color: #666;	
	--title-text-color: #1e598c;
	--base-text-light: #fff;
	--base-text-dark: #000000;
}

* {
	margin: 0;
	padding: 0;
	}

html { font-size: 20px } /* 폰트 기준 */


body {
	font-family: "Maven Pro", "Noto Sans KR", sans-serif;
	font-size: .7rem; /* 14px로 렌더링 */
	font-weight: 400; /* 100~900, bold, bolder, thin */
	color: var(--base-text-color);
}
ul {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}


.d-none {
	display: none;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 48
		}
		
		
.container {
	max-width: 1190px;
	margin: 0 auto;	
}		
.pos-relative {
	position: relative;
}
.pos-absolute {
	position: absolute;	
}
.pos-fixed {
	position: fixed;
}
button {
	background-color: transparent;
	border: 0;
	outline : none;
}
/* ================= header =============== */
header.main-header {	/*header 태그중 main-header 선택*/
	background-image: url("../images/visual_bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	height: 950px;
	overflow: hidden;
}
.logo {
	margin: 2rem 0 0 0;
}	
.burger {
	right: 0;
	top: 0;
}
.slogan_text {
	margin: 230px auto 0;
	width: 533px;
	height: 243px;
}	
		
/* ================= section > article =============== */
.system-bg {
	background-image: url("../images/system_bg.jpg");
	background-repeat: repeat-x;
	background-size: cover;
	overflow: hidden;
}
.title {
	text-align: center;
	font-style: 1.5rem;
	font-weight: 500;
	color: var(--title-text-color);
	border-bottom: 1px solid var(--title-text-color);
	margin: 2.5rem 0 0 0;
	padding: 0 0 .5rem 0; /* top right bottom left 순서로 padding 적용 */
}
.sub-title {
	font-size: 1rem;
	font-weight: 500;
	color: var(--base-text-light);
	background-color: var(--title-text-color);
	text-align: center;
	width: 17rem;
	margin: 0 auto;
	padding: .5rem 0;
	letter-spacing: -1px;
	
}
.system-list {
	display: flex;
	column-gap: 1rem;
	margin: 3rem 0;
}
.system-list li {	/* 비율이 1:1 일때 정원 1:n 일때 타원*/
	border-radius: 50%;
	overflow: hidden;
}
.system-list li:hover .overlay {
	display: flex;	/* 플레스 : 블럭 / 인라인-플렉스 */
}
.system-list .overlay {
	background-color: rgba(0, 0, 0, .3);
	color: var(--base-text-light);
	width: 100%;
	height: 100%;
}
.overlay  {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* flex 기본정력 : row=행, column : 수직=열 */
}
.over-title {
	font-size: 1.5rem;
}

.over-title + .material-symbols-outlined {	/* + : 다음 형제 요소, ~ : 다음 형제들 요소*/
	font-size: 2rem;
}
/* ================= section > article > new-item =============== */
.new-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0 2rem 0;
}
.new-item > img:nth-of-type(1) {
	width: 30rem;
	object-fit: cover;	/*과거 max-width : 오래된 속성, 최대 넓이*/
}
.new-item button:nth-of-type(1) {
	border: 1px solid var(--base-text-dark, black);
	border-radius: 1.5rem;
	font-size: .8rem;
	color: var(--base-text-dark, black);
	padding: .5rem 1rem;
}	
.item-detail {
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
	overflow: hidden;

}
.detail-content {
	display: flex;
	column-gap: .5rem;
}
.img-detail {
	flex: 4;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 400px;
	row-gap: .5rem;
}
.img-detail img {
	/* max-width: 100% css2 */
	width: 100%;
	object-fit: cover; /* contain, fill, cover[aspect ratio] : css3 */
}
.big-img {
	flex: 7;
	overflow: hidden;
	
}
.small-img {
	flex: 3;
	overflow: hidden;
	display: flex;
	column-gap: .5rem;
}
.small-img li {
	flex: 1;
	/* overflow: hidden; */
	
}
.small-img li img {
	border: 1px solid transparent;
	box-sizing: border-box;
}
.small-img li:hover img {
	border: 3px solid dodgerblue;
}
.text-detail {
	flex: 6;
	background-color: #efefef;
	border: 1px solid #000000;
}
.text-detail p {
	margin: 1rem;
}
.text-detail ul {
	list-style-type: square; /* 목록기호 : 사각형 */
	list-style-position: inside; /* 목록기호 위치 : 안족, 바깥쪽 */
	margin: 0 0 0 2rem;
	
	/* list-style: outside square; */
}
#close {
	right: 5%;
	top: 5%;
	background-color: #000;
	color: var(--base-text-light);
	padding: .5rem 1rem;
}
/* ================= sidePanel =============== */
#sidePanel {
	background-color: dodgerblue;
	min-width: 25rem;
	right: 0;
	top: 0;
	height: 100%;
	
	
}
/* ================= aside =============== */
.aside-bg {
	background-image: url("../images/company.png"), url("../images/company_bg.jpg");
	background-size: contain, cover;
	background-repeat: no-repeat, repeat-x;
	background-position: right bottom, left bottom;
	min-height: 300px;
}
aside .container {
	overflow: hidden;
}
aside .container .catch-title{
		margin: 3rem 0 1rem 0;
		font-size: 1rem;
		font-weight: 500;
		color: #193f5c;
		
}
aside .container .catch-desc {
	font-size: 1.5rem;
	color: #193f5c;
}
.w500 {
	font-weight: 500;
}
.w300 {
	font-weight: 300;
}
aside .container .extras {
	margin: 3rem 0 0 0;
	
}	
/* ================= extras =============== */
.extras {
	background-color: #f5f5f5;
}
.extras .container {
	display: flex;
	justify-content: space-between;
}
.contact {
	font-size: 1rem;
	font-weight: 700;
	align-self: center;
	color: #e86708;
}
.contact::before {
	content: '';
	display: inline-block;
	background-image: url("../images/icon_call.png");
	width: 28px;
	height: 28px;
	vertical-align: sub;
}


/* ================= footer =============== */
footer .container {
	text-align: center;
	padding: 2rem 0;
}
footer .container h3 {
	margin: 1rem 0;
}
footer .container p:nth-of-type(3) {
	margin: 1rem 0 0 0;
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
